
.be-btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .375rem 1.25rem;
  border-radius: .25rem;
  text-align: center;
  vertical-align: middle;
  color: $btn-color;
  background-color: $btn-background-color;
  border: 1px solid $btn-border-color;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: all 0.2s ease-out;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $mainColor;
    border: 1px solid $mainColor;
    text-decoration: none;
    outline: 0;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: .65;
  }
}

.be-btn-outline {
  background-color: #fff;
  &:hover,
  &:focus {
    color: $mainColor;
    background-color: #fff;
    border: 1px solid $mainColor;
  }
}

.be-btn-plain {
  &:hover,
  &:focus {
    color: $mainColor;
    background-color: $mainColor-9;
    border: 1px solid $mainColor;
  }
}


@each $name, $color in map-merge(("black": $black, "gray": $gray, "main": $mainColor), $colors) {
  .be-btn-#{$name} {
    color: #fff;
    background-color: $color;
    border: 1px solid $color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: mix(black, $color, 20%);
      border: 1px solid mix(black, $color, 20%);
    }
  }

  .be-btn-#{$name}.be-btn-fade {
    &:hover,
    &:focus {
      color: #fff !important;
      background-color: $color !important;
      border: 1px solid $color !important;
    }
  }

  .be-btn-#{$name}.be-btn-outline {
    color: $color;
    background-color: #fff;
    border: 1px solid $color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $color;
      border: 1px solid $color;
    }
  }

  .be-btn-#{$name}.be-btn-plain {
    color: $color;
    background-color: mix(white, $color, 90%);
    border: 1px solid $color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $color;
      border: 1px solid $color;
    }
  }

  .be-btn-#{$name}.be-btn-fade.be-btn-outline {
    &:hover,
    &:focus {
      color: $color !important;
      background-color: #fff !important;
      border: 1px solid $color !important;
    }
  }

  .be-btn-#{$name}.be-btn-fade.be-btn-plain {
    &:hover,
    &:focus {
      color: $color !important;
      background-color: mix(white, $color, 90%) !important;
      border: 1px solid $color !important;
    }
  }
}

.be-btn-fade {
  color: $btn-color !important;
  background-color: $btn-background-color !important;
  border: 1px solid $btn-border-color !important;
}

.be-btn-sm {
  font-size: 0.875rem;
  padding: .25rem .5rem;
  border-radius: .2rem;
  min-width: 4rem;
}

.be-btn-lg {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: .3rem;
  min-width: 6rem;
}

.be-btn.be-btn-round {
  border-radius: 2rem;
  padding: .375rem 1.5rem;
}

.be-btn-sm.be-btn-round {
  border-radius: 1.5rem;
  padding: .25rem 1rem;
}

.be-btn-lg.be-btn-round {
  border-radius: 2.5rem;
  padding: 0.5rem 2rem;
}
