
.be-container {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@each $breakpoint, $width in $container-max-widths {
  $min: map-get($breakpoints, $breakpoint);
  @if $min != 0 {
    @media (min-width: $min) {
      .be-container {
        max-width: #{$width};
      }
    }
  }
}